/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.main {
  display: flex;
  width: 100%;
}

.hero {
  height: 100%;
  width: 100%;

  background: url("/img/pattern.png");
  overflow: hidden;

  padding-top: 12rem;
  padding-bottom: 12rem;
}

@media screen and (min-width: 640px) {
  .hero {
    padding-top: 14rem;
    padding-bottom: 14rem;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }
}
